#answer-change {
    display: none;
}

#answer {
    display: none;
}

#input-save {
    display: none;
}

#input-label {
    display: none;
}

#input {
    display: none;
}

.input input {
    width: 70px;
}

.input input#year {
    width: 100px;
}

#answerYear {
    text-align: center;
}

#answerEtc {
    text-align: center;
    font-size: 1.6rem;
}
